@model ApplicationUser
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-l2">
    <form asp-action="Update" asp-controller="Users">   
        <div class="form-group">
            <label asp-for="@Model.UserName" class="col-form-label custom-label">User Name</label>
            <input asp-for="@Model.UserName" class="form-control custom-input">
            <span asp-validation-for="@Model.UserName" class="text-danger"></span>

        </div>
        <br />
        <button type="submit" value="Add" class="btn btn-primary">Submit</button>
        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
        <a asp-action="Index" class="btn btn-light">Back To List</a>
    </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
