
@{
    ViewData["Title"] = "CompleteForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="card-body">
    <div class="modal-body">
            <div>
                Password reset link has been sent to your email.
                Please check your inbox: 
                <a href="https://mail.google.com/mail/u/o">Click here.</a>
            </div>
    </div>
</div>

