@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<div class="card-heading">
    <h2 class="title">Reset Password</h2>
</div>
<div class="card-body">
        <form asp-action="ForgetPassword">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-row">
                    <div class="name">Email</div>
                    <div class="value">
                        <div class="input-group">
                            <input class="input--style-5" type="email" name="email" asp-for="@Model.Email">
                            <span asp-validation-for="@Model.Email" class="text-danger"></span>
                        </div>
                    </div>
                </div>
        <input class="btn btn--radius-2 btn--red" type="submit" value="Send Email">
        </form>
</div>
