@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="card-heading">
    <h2 class="title">Reset Password</h2>
</div>
<div class="card-body">
    <form asp-action="ResetPassword">
        
        <div class="form-row">
            <div class="name">Password</div>
            <div class="value input-group">
                <input class="input--style-5" type="password" asp-for="@Model.Password">
            </div>
        </div>
        <div class="form-row">
            <div class="name ">Confirm Password</div>
            <div class="value input-group">
                <input class="input--style-5" type="password" asp-for="@Model.ConfirmPassword">
                <input asp-for="Email" type="hidden" />
                <input asp-for="Token" type="hidden" />
            </div>

            
        </div>
        <div class="text-danger" asp-validation-summary="All"></div>
        <input class="btn btn--radius-2 btn--red" type="submit" value="Reset Password">
    </form>

</div>
